<form class="form-checkin" xmlns="http://www.w3.org/1999/html">
<div class="row">
<div class="span9">
	<h2 class="text-center" style="line-height: 10px; margin-top: 0px; margin-bottom: 20px">
        <span ng-class="{'text-error': !contestant.infoComplete}">
		    <strong>{{contestant.name}}</strong>&nbsp;
        </span>
	</h2>
    <h4 ng-if="!contestant.infoComplete" class="text-error text-center">
      Deelnemerdata onvolledig, eerst aanvullen.
    </h4>
	<div class="row">
		<div class="span4">
			<p class="text-center"><strong>Deelnemergegevens</strong><a href="#" ng-click="nextPlin()"><i class="icon-circle-arrow-right"></i></a>
			</p>
			<div class="row">
				<div class="span2 text-right">
					<p>Plin</p>
					<p>Lidmaatschap</p>
					<p>Leeftijd</p>
					<p>Email</p>
				</div>
				<div class="span2 text-left">
					<p><strong>{{plin}}</strong></p>
					<p ng-class="{muted: !contestant.member}">{{contestant.member | iif : "Vereniging" : "Geen"}}
                        <a href="" ng-click="changeMembership()">
                            <span ng-if="contestant.member" class="label label-info">stop</span>
                            <span ng-if="!contestant.member" class="label label-info">start</span>
                        </a>
                    </p>
                    <span ng-switch on="contestant.dateOfBirthDefined">
    					<p ng-switch-when="true">{{contestant.age}} <span class="muted">({{contestant.dateOfBirth.getDate()}}-{{contestant.dateOfBirth.getMonth()+1}}-{{contestant.dateOfBirth.getFullYear()}})</span></p>
                        <p ng-switch-when="false"><span class="text-error"><strong>Onbekend</strong></span></p>
                    </span>
					<p>{{contestant.email}}</p>
				</div>
			</div>
		</div>
		<div class="span5">
			<p class="text-center"><strong>Betaalstatus</strong>
			</p>
			<div class="row">
				<div class="span2 text-right">
                    <p><i class="icon-user" style="visibility: hidden"></i> Deelnemer</p>
					<p>
                        <i ng-if="contestant.roleCode !== 'speler'" class="icon-bookmark"></i>
                        <i ng-if="contestant.roleCode === 'speler'" class="icon-user"></i>
                        Evenement</p>
					<p><i class="icon-leaf"></i> Contributie</p>
					<!--<p><i class="icon-chevron-right"></i> Overig</p>-->
					<!--<p><i class="icon-chevron-right"></i> Overig</p>-->
					<p><i class="icon-ok-circle"></i> Ingechecked</p>
                    <span ng-if="contestant.infoComplete">
                        <span ng-if="!contestant.checkedIn">
                            <p ng-if="contestant.paidInFull.membership == false || contestant.paidInFull.event == false">
                                <button class="btn" ng-click="checkinOverride()">Check in als</button>
                            </p>
                        </span>
                    </span>
                </div>
				<div class="span3 text-left">
                    <p ng-if="contestant.roleCode != null" class="text-success"> <strong>{{contestant.roleDescription}}</strong>
                        <button ng-if="!contestant.checkedIn" class="close pull-left" ng-click="removeRole(item)">&times;&nbsp;</button>
                    </p>
                    <p ng-if="contestant.roleCode == null" class="text-error"><strong>-</strong></p>
					<p ng-class="{'text-success': contestant.paidInFull.event, 'text-error': !contestant.paidInFull.event}"><strong>{{contestant.paid.event}}</strong></p>
                    <p ng-class="{'text-success': contestant.paidInFull.membership, 'text-error': !contestant.paidInFull.membership}"><strong>{{contestant.paid.membership}}</strong></p>
					<!--<p class="text-error"><strong>Banken summ... (mist 7,50) <i class="icon-info-sign"></i></strong></p>-->
					<!--<p class="text-error"><strong>Moots 1 2012... (mist 12,-) <i class="icon-info-sign"></i></strong></p>-->
					<p ng-class="{'text-success': contestant.checkedIn, 'text-error': !contestant.checkedIn}"><strong>{{contestant.checkedIn | iif: "Ja" : "Nee"}}</strong></p>

                    <span ng-if="contestant.infoComplete">
                        <span ng-if="!contestant.checkedIn">
                            <p ng-if="contestant.paidInFull.membership == true && contestant.paidInFull.event == true">
                                <button class="btn btn-primary" ng-click="checkin()">Check in</button>
                            </p>
                            <p ng-if="contestant.paidInFull.membership == false|| contestant.paidInFull.event == false">
                                <select id="roleSelector" class="input-medium" name="roleSelector">
                                    <option value="speler">Speler</option>
                                    <option value="monster">Monster</option>
                                    <option value="crew">Crew</option>
                                    <option value="k16">Jeugd 12-15</option>
                                    <option value="k12">Jeugde < 12</option>
                                    <option value="barlid">Bar personeel</option>
                                    <option value="bestuur">Bestuur</option>
                                    <option value="ehbo">EHBO</option>
                                    <option value="speciaal">Speciale prijs</option>
                                </select>
                            </p>
                        </span>
                        <span ng-if="contestant.checkedIn">
                            <p>
                                <button class="btn btn-primary" ng-click="checkout()">Check uit</button>
                                <button class="btn btn-primary" ng-click="done();">Klaar</button>
                            </p>
                        </span>
                    </span>
				</div>
			</div>
		</div>
	</div>
    <div class="row" ng-if="!contestant.infoComplete">
        <br>
        <div class="span1">&nbsp;</div>
        <div class="span8">
            Geboortedatum &nbsp;
            <div class="input-append">
                <input class="span2" id="dobValue" type="text" ng-model="dobValue" placeholder="dd-mm-jjjj">
                <span class="btn btn-danger" ng-click="updateDob()">Sla op</span>
            </div>
            <br>
            <br>
        </div>
    </div>

    <div class="row" ng-if="!contestant.email">
        <br>
        <div class="span1">&nbsp;</div>
        <div class="span8">
            Voer email in&nbsp;
            <div class="input-append">
                <input class="span5" id="emailValue" type="text" ng-model="emailValue" placeholder="email adres">
                <span class="btn btn-warning" ng-click="updateEmail()">Sla op</span>
            </div>
            <br>
            <br>
        </div>
    </div>
   <!--<div class="row">-->
        <!--<div class="span9">-->
            <!--<hr/>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="span1">&nbsp;</div>
        <div class="span8">
            <div class="input-prepend">
                <span class="btn btn-info" ng-click="addNote()">Notitie maken</span>
                <input class="span6" type="text" ng-model="noteText">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span1">&nbsp;</div>
        <div class="span8">
            <table class="table table-condensed">
                <tbody>
                <tr ng-repeat="note in notes">
                    <td width="80" class="muted">{{note.time}}</td>
                    <td width="80"><span class="label">{{note.user}}</span></td>
                    <td width="440">{{ note.text }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

	<div class="span9">
		<hr style="margin-right: 20px;"/>
	</div>

	<div class="row" ng-if="contestant.infoComplete">
		<div class="span1"></div>
		<div class="span4">
			<span ng-repeat="item in shop.lines1">
				<span ng-switch="item.line">
					<p ng-switch-when="item">
						<span class="amount">{{formatAmount(item.amount)}}</span>
						<button class="btn btn-small btn-info" ng-click="addItem(item)"><i ng-class="item.icon" ng-style="item.style"></i></button>
						&nbsp;<span>{{item.name}}</span><br/>
					</p>
					<span ng-switch-when="separator">
						<p style="height:5px;">&nbsp;</p>
					</span>
					<span ng-switch-when="filler">
						<p class="emptyButtonLine">&nbsp;</p>
					</span>
				</span>
			</span>
		</div>
		<div class="span4">
			<span ng-repeat="item in shop.lines2">
				<span ng-switch="item.line">
					<p ng-switch-when="item">
						<span class="amount">{{formatAmount(item.amount)}}</span>
						<button class="btn btn-small btn-info" ng-click="addItem(item)"><i ng-class="item.icon" ng-style="item.style"></i></button>
						&nbsp;<span>{{item.name}}</span><br/>
					</p>
					<span ng-switch-when="separator">
						<p style="height:5px;">&nbsp;</p>
					</span>
					<span ng-switch-when="filler">
						<p class="emptyButtonLine">&nbsp;</p>
					</span>
				</span>
			</span>		</div>
	</div>
	<div class="row" ng-if="contestant.infoComplete">
        <div class="span1">&nbsp;</div>
		<div class="span8">
			<div class="input-prepend">
				<span class="add-on">&euro;</span>
				<input class="span1" id="customItemAmount" type="text">
			</div>
            <input class="input-xlarge" id="customItemName" placeholder="Overige betalingen met toelichting" type="text">
            <select id="customItemPurpose" class="input-medium" ng-model="customItemPurpose" name="customItemPurpose" ng-change="evaluateCustomItemPurpose()">
                <option value="choose" selected="selected">Kies</option>
                <option value="toegang">Toegang</option>
                <option value="meubilair">Meubulair</option>
                <option value="catering">Catering</option>
                <option value="overigen">Overigen</option>
            </select>
            <span class="btn" ng-click="addCustomItem()" style="top: -5px; position: relative"
                  ng-class="{disabled: customItemButtonDisabled, 'btn-info': !customItemButtonDisabled}">Voeg toe</span>
		</div>
	</div>
	<div class="row" ng-if="contestant.infoComplete">
		<div class="span1">&nbsp;</div>
		<div class="span8">
			Cash opnemen met PIN &nbsp;
			<div class="input-prepend input-append">
				<span class="add-on">&euro;</span>
				<input class="input-mini" id="pinAmount" type="text">
				<span class="btn btn-info" ng-click="addPinAmount()">Voeg toe</span>
			</div>
		</div>
	</div>




</div>
<div class="span6">
	<strong>Winkelmandje</strong>
	<br> </br>
	<div class="row">
		<div class="span5">
			<table class="table table-striped table-condensed">
				<tbody>
					<tr ng-repeat="item in cart.items">
						<td>{{displayItem(item)}}</td>
						<td>{{formatAmount(item.total)}}<button class="close" ng-click="removeItem(item)">&times;</button></td>
					</tr>
					<tr class="info">
						<td><strong>Totaal</strong></td>
						<td><strong>{{formatAmount(cart.total)}}</strong></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<button ng-class="{disabled: !pay.cash, 'btn-primary': pay.cash}" class="btn" ng-click="payWithCash()">Betaal cash</button>
		</div>
		<div class="span2 text-right">
			<button ng-class="{disabled: !pay.pin, 'btn-primary': pay.pin}" class="btn" ng-click="payWithPin()">Betaal PIN</button>
		</div>
	</div>

	<hr>
	<strong>Betalingshistorie</strong>
	<div ng-repeat="payment in paymentHistory">
		<p>
			<div><strong>&euro;{{formatAmount(payment.amount)}}</strong> ({{formatDate(payment.date)}})</div>
			<div>{{payment.from}}</div>
			<div><em>{{payment.description}}</em></div>
			<span ng-repeat="line in payment.mappings">
				<div><i ng-class="line.icon"></i> {{line.description}}: {{formatAmount(line.amount)}}</div>
			</span>
		</p>
	</div>
</div>
</div>
</form>
